.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Header {
  height: 50px;
  display:flex;
  flex-direction: row;
  flex: 100%;
  padding: 10px;
  background-color: gold;
}

.Header-brand {
  text-align: left;
  flex: 50%;
}

.Header-nav {
  flex: 50%;
  text-align: right;
}

.tab {
  background-color: gray;
  display: inline-block;
  padding: 5px;
  border-top: 2px solid;
  border-radius: 5px 5px 0 0;
}

.tab:hover {

}

.Map-display {
  border: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
